<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head">

</head>
<body>
    <div th:replace="layout/topbar::topbar"></div>
    <div th:replace="layout/navbar::navbar"></div>
    <div class="container-fluid packages py-5" >
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Packages</h5>
            <h1 class="mb-0">Awesome Packages</h1>
        </div>
        <div class="packages-carousel owl-carousel" >
            <div class="packages-item" th:each="hotel : ${hotels}">
                <div class="packages-img">
                    <img th:src="@{/fe/img/{img}(img=${hotel.hotelImg})}" class="img-fluid w-100 rounded-top" alt="Image">
                    <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute" style="width: 100%; bottom: 0; left: 0; z-index: 5;">
                        <small th:text="${hotel.city}" class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt me-2"></i>Venice - Italy</small>
                        <small th:text="${hotel.phoneNumber}" class="flex-fill text-center border-end " ><i class="fa fa-calendar-alt me-2" ></i>3 days</small>

                    </div>

                </div>
                <div class="packages-content bg-light">
                    <div class="p-4 pb-0">
                        <h5 class="mb-0" th:text="${hotel.name}"></h5>
                        <small class="text-uppercase" th:text="${hotel.address}">Hotel Deals</small>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p class="mb-4" th:text="${hotel.description}"></p>
                    </div>
                    <div class="row bg-primary rounded-bottom mx-0">
                        <div class="col-6 text-start px-0">
                            <a th:href="@{'/hotel/' + ${hotel.id}}" class="btn-hover btn text-white py-2 px-4">Read More</a>
                        </div>
                        <div class="col-6 text-end px-0">
                            <a href="#" class="btn-hover btn text-white py-2 px-4">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/fe/lib/easing/easing.min.js}"></script>
    <script th:src="@{/fe/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/fe/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/fe/lib/lightbox/js/lightbox.min.js}"></script>


    <!-- Template Javascript -->
    <script th:src="@{/fe/js/main.js}"></script>
</body>
</html>